services:
  ctfd:
    build: .
    user: root
    restart: always
    ports:
      - "${CTFD_PORT:-8000}:8000"
    environment:
      - UPLOAD_FOLDER=/var/uploads
      - WORKERS=${WORKERS:-4}
      - LOG_FOLDER=/var/log/CTFd
      - ACCESS_LOG=${ACCESS_LOG:--}
      - ERROR_LOG=${ERROR_LOG:--}
      - REVERSE_PROXY=${REVERSE_PROXY:-true}
    volumes:
      - .data/CTFd/logs:/var/log/CTFd
      - .data/CTFd/uploads:/var/uploads
      - .:/opt/CTFd:ro

    networks:
        default:
        internal:

  nginx:
    image: nginx:stable
    restart: always
    volumes:
      - ./conf/nginx/http.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    depends_on:
      - ctfd


networks:
    default:
    internal:
        internal: true
